
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
    background-color: lightgrey;
    min-height: 150vh;/*Adding to bring index.html and contact .html page body section to full length*/
}
/* Code for Home HTML ---- START */
header {
    text-align: center;
    background-color: grey;
    padding: 10px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 20px;
    border: 1px solid gray;
    border-bottom: 2px solid tomato;
}
h1 {
    font-size: 2.5rem;
    color: black;  
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
}

a:hover {
    color: #fda103;  
}
img {
    max-width: 20px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
#id-myLogoPic{
width: 20px;
height: auto;
border-radius: 10%;
}
.about-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#id-myPic{
    width: 300px;
    height: auto;
    border-radius: 50%;
    max-width: 400px;
    /*float:left;*/
}

.welcome-wrapper{
    font-size: 2rem;
    line-height: 2rem;
    padding: 2%;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-large {
    font-size: 32px;
    font-weight: bold;
}
nav {
    max-width: 100%;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.menu-link {
    padding: 12px 8px;
    color: black;
    text-decoration: none;
}

.menu-link:hover, .menu-link:focus {
    color: blue;
    font-size: 28px;
    text-shadow: 0 0 20px rgba(255,255,255,50%);
}

#my-id-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-wrapper h1{
padding-left: 30px;
margin-left: 30px;
}
.menu-hover:hover{
    transform: scale(2.1);
}
/* Code for HOME HTML ---- END */

/* Code for Footer Section HTML ---- START*/
footer {
    text-align: center;
    background-color: gray;
    padding: 10px;
    color: #fff;
}
#footer_full_size{
    position: fixed;
    bottom: 0px;
    width: 100%;
}/*Adding these to make index.html and contact page.html to sit in bottom of page*/
/* Code for Footer Section HTML ---- END*/

/* Code for ABOUT HTML ---- START */
.summary-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#id-myKidPic{
    max-width: 400px;
    width: 300px;
    height: auto;
    border-radius: 30px 30px 30px 30px;
    padding:10px;
}
.title-wrapper{ 
    width: 80%;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    }
    #skills-wrapper{
        background-color: whitesmoke;
        width:80%;
        padding: 10px;
        margin: auto;
        border: 2px solid burlywood;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    #skills-wrapper h3{
        font-size: 2rem;
        line-height: 1rem;
        padding: 2px;  
        text-align: center;
    }
    .skill-bar {
        width: 100%;
        background-color: lightgrey;
      }
      .skills {
        text-align: right;
        padding-top: 10px; 
        padding-bottom: 10px; 
        color: white; /*Font colour in skills bar*/
        background-color:black;
      }
      .html {
        width: 80%;
    }
      .css {
        width: 70%; 
    } 
      .python {
        width: 20%; 
    } 
      .reactJS {
        width: 10%; 
    }
/* Code for ABOUT HTML ---- END */

/* Code for PROJECT HTML ---- START */
.project-wrapper{
    display: flex;
    flex-direction: column;
    width: calc(100%/2 - 3px);
    font-size: 16px;
    text-align: justify;
    line-height: 1.5rem;
    padding: 20px;
    justify-content: center;
    border: 2px solid burlywood;
    margin:auto;/*Added with somayra help*/
}
.proj-inner-wrapper
{
    /*border: 2px solid gold;*/
    padding: 2px;
}
.proj-inner-wrapper:hover{
    border: 2px solid tomato;
}
h3 {
    font-size: 2rem;
    line-height: 1rem;
    padding: 2px;  
}
/* Code for PROJECT HTML ---- END */

/* Code for Contact page HTML ---- START*/
form {
    margin: 50px auto;
    width: 90%;
}
.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.form-item label {
    flex-basis: 100px;
    padding: 10px;
    font-size: 22px;
}
.form-item input,
.form-item textarea {
    flex-basis: 50%;
    flex-direction: column;/*This fixed issue relating text area reducing size in mobile screen size*/
    border: 2px solid tomato;
}
.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FA4224;
}
.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid burlywood;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}
.form-item button:hover {
    border: 2px solid #FA4224;
    background-color: #FA4224;
    color: #FFF;
}
.form-item button {
    width: 100px;
}

/* Code for Contact page HTML ---- END*/

/* MEDIA QUERIES -- START*/

/* Added this query as part of Mobile screen size variations. Changed based on comments given by mentor. 
Leaving it here for future reference.

@media(max-width: 600px){
    #id-myKidPic{
        max-width: 200px;
        height: 200px;
    }
    .title-wrapper{ font-size: 16px;}
    #skills-wrapper h3{font-size: 1.5rem;}
    #id-myPic{
        width: 200px;
        height: auto;
        border-radius: 50%;
        max-width: 250px;
    }
    .welcome-wrapper{
        font-size: 1rem;
        line-height: 2rem;
        padding: 1%;
        margin: 1%;
    }
    .text-large {font-size: 16px;}
    h1 {font-size: 1rem;}
    #id-myLogoPic{
        width:20px;
        height: auto;
    }
    img{max-width: 20px;}
    header{font-size: 15px;}
    .form-item textarea {
        flex-basis: 70%;
        
    }
}*/

@media(min-width:767px){

.about-wrapper {flex-direction: row;}

#id-myLogoPic{width: 40px;}

img {max-width: 40px;}

#id-myKidPic{ border-radius: 50%;}  

.title-wrapper {flex-direction: row;}

}